* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

/* HEADER***** */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 1;
}

header nav .nav-item {
  position: relative;
}
/* header .navbar-scrolled {
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
} */

header .navbar .logo__content {
  line-height: 1px;
}

/* the sentence under logo  */
header nav .logo__content span {
  font-size: 14px;
}
/* the serach icon  */
header .header-search .btn-material i {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
}

/* CAROUSEL***** */
.carousel .carousel-inner {
  height: 60vh;
  background-image: url(../../img/b1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.carousel .carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: rgba(39, 43, 54, 0.7);
}
.carousel .carousel-item h2 {
  font-size: 50px;
}

/* ABOUT US***** */
/* left  */
.ourCompany .container .ourcompany_Left img {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}
.ourCompany .container .ourcompany_Left .greenShadow {
  width: 500px;
  height: 500px;
  border-radius: 25% 70% 84% 22%/ 42% 75% 25% 75%;
  position: absolute;
  z-index: -1;
  top: 0;
  background-color: #8cc6a8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}
.ourCompany .container .ourcompany_Left .img_txt {
  min-height: 200px;
  min-width: 200px;
  background-color: #009f4d;
  transform: rotate(45deg);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  border-radius: 10px;
  text-align: center;
  right: 80px;
  bottom: 20px;
  padding: 50px;
}
.ourCompany .container .ourcompany_Left .img_txt .txt_box {
  transform: rotate(-45deg);
}
/* right  */
.ourCompany .container .ourCompany_Right h5 {
  font-size: 10px;
}

.ourCompany .container .ourCompany_Right a:first-of-type {
  padding: 10px 50px;
  background-color: #009f4d;
}
/* ABOUT US-boxes***** */
.ourCompanyBoxes .container .row {
  display: flex;
  flex-wrap: wrap;
}

.ourCompanyBoxes .container .bg_box {
  display: flex;
  flex-direction: row;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.ourCompanyBoxes .container .bg_box .txt_box {
  width: 100%;
}

/* MARKETING*****  */
.marketing {
  background-color: #f8f9fa;
}
.marketing .txt_col {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
/* FIXED VIDEO****** */
.fixedVideo {
  background-image: url(../../img/bg1.jpg);
  /* filter: brightness(80%) grayscale(50%); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  padding: 50px 0;
}
.fixedVideo::before {
  content: "";
  min-height: 100%;
  left: 0;
  top: 0;
  right: 0;
  background-color: #1d2a37b3;
  position: absolute;
  z-index: -1;
}

/* MEETTHETEAM***** */
.meetTheTeam .container .image_box {
  position: relative;
}
.meetTheTeam .image_overlay {
  position: absolute;
  background-color: rgba(20, 20, 20, 0.7);
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.8s;
}
.meetTheTeam .container .image_box:hover .image_overlay {
  opacity: 1;
}
.meetTheTeam .image_overlay p {
  text-align: center;
  margin: 0 20px;
  margin-bottom: 20px;
  transform: translateY(20px);
  transition: all 0.5s;
}
.meetTheTeam .image_box:hover .image_overlay p {
  transform: translateY(0);
}
.meetTheTeam .image_overlay i {
  margin: 0 5px;
  transform: translateY(20px);
  transition: all 0.5s;
}

.meetTheTeam .image_box:hover .image_overlay i {
  transform: translateY(0);
}
.meetTheTeam .container .txt_box h3:hover {
  color: #009f4d;
}
/* CHOOSEUS******  */
.chooseUs {
  background-color: #f8f9fa;
}

.chooseUs .chooseUs_txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.chooseUs .chooseUs_icon {
  border: 1px solid;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* PROJECTS****** */
/* FOOTER******  */
footer .copyRight {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer ul li {
  list-style-type: none;
  margin-top: 10px;
}
footer ul li a {
  color: #6c757d;
}
footer ul li a:hover {
  color: white;
}
/* ---------------------------SERCIVES PAGE----------------- */
/* SERVICES****** */
main .services {
  background-color: #f8f9fa;
}
main .services__content {
  background-color: white;
  height: 100%;
}
main .col-lg-6 {
}
/* INDUSTRY****** */
main .industry .industry__content {
  position: relative;
  grid-auto-flow: column;
}
main .industry .col-lg-4 {
  border-radius: 10px;
}
main .industry .industry__content .industry__txt a:hover {
  color: #009f4d;
}
/* CONTACT****** */
main .contact {
  background-image: url(../../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
}
main .contact::before {
  content: "";
  min-height: 100%;
  left: 0;
  top: 0;
  right: 0;
  background-color: #1d2a37b3;
  position: absolute;
  z-index: -1;
}
main .contact .contact_box {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  flex-direction: row;
  padding: 20px 0;
  align-items: center;
}
main .contact .col-lg-6 .contact_form form input {
  background-color: rgba(128, 128, 128, 0.1);
  border: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 90%;
}
main .contact .col-lg-6 .contact_form form textarea {
  background-color: rgba(128, 128, 128, 0.1);
  border: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  height: 80px;
  width: 90%;
}
main .contact .col-lg-6 .contact_form button {
}

/* SOLUTION ******  */
main .solution {
  background-color: #f8f9fa;
}
main .solution_content_box {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(10px);
  transition: all 0.5s;
}
main .solution_content_box:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

/* Scroll */
header.main-header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}
.noscroll {
  overflow: hidden;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}
.noscroll {
  min-height: 100vh;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .navbar-collapse {
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }
  .mobile-position {
    position: absolute;
    right: 44px;
    top: 18px;
  }
  .navbar .navbar-brand img {
    max-width: 140px;
  }
  .navbar-toggler {
    border: 0 none;
    font-size: 24px;
  }
  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0 0px;
  }
  .navbar-nav:last-child {
    border: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 0;
  }
  .navbar-expand-lg .navbar-nav.nav_btn > li {
    padding-bottom: 10px;
  }
  .navbar-nav .dropdown-menu {
    text-align: center;
  }
  .navbar-nav .dropdown-menu .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 6px 0;
    text-align: center;
  }
  header.main-header {
    height: auto;
    padding: 20px 0;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
  }
  header.nav-fixed {
    height: auto;
    padding: 15px 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: var(--primary-color);
    border-radius: 4px;
    text-align: center;
  }
  .navbar-toggler-icon.fa {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
  }
  .navbar-toggler {
    padding: 0rem 0rem !important;
  }
  .navbar .search-right {
    margin: 0px auto;
  }
  .navbar .search-right a {
    color: #fff;
  }
  .nav-fixed .search-right a {
    color: #3f3a64;
  }
  a.login {
    padding: 0px 0 10px;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  opacity: 1;
  color: #fff;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
  background: var(--bg-color);
  border: 1px solid var(--border-color-light);
  border-radius: 8px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--bg-color);
  border: 1px solid var(--border-color-light);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}
.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
  color: #3f3a64;
  opacity: 0.7;
}

.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link {
  color: var(--primary-color);
  opacity: 0.9;
}

.nav-fixed .navbar-expand-lg .mode-container i {
  color: #3f3a64;
  opacity: 0.9;
}

.nav-fixed .navbar-expand-lg .navbar-brand {
  color: #3f3a64;
}

.nav-fixed .navbar-expand-lg .navbar-brand span.sub-log {
  border-top: 8px solid var(--primary-color);
}
@media only screen and (max-width: 1440px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 10px;
  }
  .navbar-expand-lg .nav_btn > li {
    padding: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .navbar .navbar-brand {
    font-size: 32px;
  }
  .navbar .navbar-brand img {
    max-width: 109px;
  }
  .navbar-expand-lg .btn-gradient {
    padding: 10px 20px;
    font-size: 14px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn > li {
    margin-left: 0px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn a.btn {
    padding: 10px 20px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn a {
    font-size: 14px;
    padding: 0px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-collapse {
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }
  .mobile-position {
    position: absolute;
    right: 44px;
    top: 18px;
  }
  .navbar .navbar-brand img {
    max-width: 140px;
  }
  .navbar-toggler {
    border: 0 none;
    font-size: 24px;
  }
  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0 0px;
  }
  .navbar-nav:last-child {
    border: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 0;
  }
  .navbar-expand-lg .navbar-nav.nav_btn > li {
    padding-bottom: 10px;
  }
  .navbar-nav .dropdown-menu {
    text-align: center;
  }
  .navbar-nav .dropdown-menu .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 6px 0;
    text-align: center;
  }
  header.main-header {
    height: auto;
    padding: 20px 0;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
  }
  header.nav-fixed {
    height: auto;
    padding: 15px 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: var(--primary-color);
    border-radius: 4px;
    text-align: center;
  }
  .navbar-toggler-icon.fa {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
  }
  .navbar-toggler {
    padding: 0rem 0rem !important;
  }
  .navbar .search-right {
    margin: 0px auto;
  }
  .navbar .search-right a {
    color: #fff;
  }
  .nav-fixed .search-right a {
    color: #3f3a64;
  }
  a.login {
    padding: 0px 0 10px;
  }
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
  opacity: 1;
}

.navbar-dark .navbar-nav .show >,
.navbar-dark .navbar-nav .nav-link.show {
  color: var(--para-color);
}
.navbar-dark .navbar-nav .nav-link:focus {
  color: #eee;
}

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }
  .mobile-position {
    position: absolute;
    right: 44px;
    top: 18px;
  }
  .navbar .navbar-brand img {
    max-width: 140px;
  }
  .navbar-toggler {
    border: 0 none;
    font-size: 24px;
  }
  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0 0px;
  }
  .navbar-nav:last-child {
    border: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 0;
  }
  .navbar-expand-lg .navbar-nav.nav_btn > li {
    padding-bottom: 10px;
  }
  .navbar-nav .dropdown-menu {
    text-align: center;
  }
  .navbar-nav .dropdown-menu .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 6px 0;
    text-align: center;
  }
  header.main-header {
    height: auto;
    padding: 20px 0;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
  }
  header.nav-fixed {
    height: auto;
    padding: 15px 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: var(--primary-color);
    border-radius: 4px;
    text-align: center;
  }
  .navbar-toggler-icon.fa {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
  }
  .navbar-toggler {
    padding: 0rem 0rem !important;
  }
  .navbar .search-right {
    margin: 0px auto;
  }
  .navbar .search-right a {
    color: #fff;
  }
  .nav-fixed .search-right a {
    color: #3f3a64;
  }
  a.login {
    padding: 0px 0 10px;
  }
}
