* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0 !important;
  font-family: "Jost", sans-serif;
}

.header .navbar {
  justify-content: space-evenly;
}

.header .navbar .navbar-content .navbar-nav .nav-item:first-child {
}
.header .navbar .navbar-brand span {
  color: #fff;
}

.header .navbar .navbar-brand .fa-solid {
  padding-right: 2px;
  font-size: 20px;
}
.header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  align-items: center;
  width: 100%;
  display: grid;
  position: fixed;
  z-index: 999;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

/* Hader Nav test */
/* header nav {
  background-color: gray;
} */
.header .navbar .navbar-content .collapse .navbar-nav .nav-item .nav-link {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
/* header .navbar .navbar-brand {
  display: flex;
} */
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.header .navbar .navbar-icon {
  display: flex;
}

.navbar .navbar-brand span.logo {
  text-transform: none;
  display: block;
  font-size: 12px;
  padding-left: 25px;
  font-weight: 600;
  opacity: 0.9;
}

.header .navbar .navbar-content .navbar-icon .navbar-icon-search {
  cursor: pointer;
  line-height: 34px;
  color: #fff;
  text-align: center;
  width: 34px;
  height: 34px;
  background-color: green;
  border-radius: 100%;
  text-align: center;
}

.header .navbar-icon .navbar-icon-search i {
  font-size: 13px;
  align-items: center;
}

.header .navbar-icon .navbar-icon-theme {
  line-height: 40px;
  color: #fff;
  text-align: center;
  width: 40px;
  height: 40px;
  text-align: center;
}
.header .navbar-icon .navbar-icon-theme i {
  align-items: center;
}
.header .navbar .navbar-content {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.header
  .navbar
  .navbar-content
  .navbar-nav
  .nav-item
  .dropdown-menu
  .dropdown-item {
  font-size: 12px;
  font-weight: 600;
}

.header .navbar .navbar-content .navbar-nav .nav-item .dropdown-menu {
  left: -36px;
}
/* Main - Banner Wrap */

.banner-wrap .banner-slider .carousel-inner .carousel-item img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  width: 100%;
  height: 50%;
}

.banner-wrap .banner-slider .carousel-inner .carousel-item .carousel-caption {
  width: 50%;
  height: 50%;
}

main .bannerWrap .banner-bg .banner-bg-item img {
  height: 100%;
}

.banner-wrap .banner-bg1 {
  background: url(../img/b1.jpg);
  height: 80vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.banner-wrap .banner-bg2 {
  background: url(../img/b2.jpg);
  height: 80vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.banner-wrap .banner-bg3 {
  background: url(../img/b3.jpg);
  height: 80vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.banner-wrap .shape path {
  fill: #fff;
}

.shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.banner-wrap {
  position: relative;
}
.shape svg {
  width: 100%;
}
.banner-wrap .banner-slider button {
  z-index: 3;
}

.banner-slider .slick-next.slick-arrow {
  right: 22px;
}
.banner-slider .slick-prev.slick-arrow {
  left: 22px;
}
.hero-overlay {
  background: rgba(29, 42, 55, 0.423);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about .about-us {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* About Us */
.title-small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
.title-big {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}
ul.service-list li {
  list-style: none;
}
ul.service-list {
  padding: 0;
}
ul.service-list li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  position: relative;
}
ul.service-list li a span.fa {
  color: #009f4d;
  margin-right: 5px;
  opacity: 0.8;
}
.about .about-us .row .HomeAboutImages img {
  border-radius: 8px;
}
